*{
    font-family: "Irish Grover", serif;
    font-weight: 400;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}


header .logo img {
    width: 150px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.hero {
    background-image: url(/Képek/kezmuves_harmoniakep.png);
    font-size: 40px;
    background: linear-gradient( );
    padding: 400px 0;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.about {
    padding: 20px 0;
    text-align: center;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.column {
    flex: 1;
    margin: 0 10px;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.fejlec-ketoszlop {
    display: flex;
}

.fejlec-ketoszlop1 {
    width: 20%;
}

.fejlec-ketoszlop2 {
    width: 80%;
}
.gradient-text {
    background-image: linear-gradient(to right, #ffffff, rgb(224 151 98));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.irish-grover-regular {
    
  }  
