*{
    font-family: "Irish Grover", serif;
    font-weight: 400;
    font-style: normal;
    
}
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    
}

.container {
    margin: auto;
}


header .logo img {
    width: 150px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.hero {
    background-image: url(/Képek/kezmuves_harmoniakep.png);
    font-size: 40px;
    background: linear-gradient( );
    padding: 400px 0;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.about {
    padding: 20px 0;
    text-align: center;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.column {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    border-radius: 5px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.fejlec-ketoszlop {
    display: flex;
}

.fejlec-ketoszlop1 {
    width: 20%;
}

.fejlec-ketoszlop2 {
    width: 80%;
}
.gradient-text {
    background-image: linear-gradient(to right, #ffffff, rgb(224 151 98));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.hatter{
    background-image: linear-gradient(rgb(51 0 0), rgb(115 96 91));
    display: flex;
    flex-direction: column;
}
.gradient-text2 {
    background-image: linear-gradient(to right, rgb(226 204 157), #fff, rgb(187 96 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.gradient-text3 {
    background-image: linear-gradient(to right,#fff 10%, rgb(197 0 0)40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.gradient-text4 {
    background-image: linear-gradient(to right,#fff 20%, rgb(197 0 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.gradient-text4 {
    background-image: linear-gradient(to right,#fff 20%, rgb(197 0 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.best-offer {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    flex: 1;
}

.card {
    border: 1px solid #ccc;
    border-radius: 60px;
    overflow: hidden;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-color: rgba(255, 255, 255,0.4);
    margin-left: 10%;
    
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 5px;
    text-align: center;
}

.card-content h3 {
    margin: 0 0 10px;
    font-size: 24px;
}


.best-offer-info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.best-offer {
    flex: 2;
    margin-right: 20px;
    margin-left: 3%;
}

.info {
    flex: 3;
    padding: 20px;
    border-radius: 5px;
}
.modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
            padding-top: 60px;
        }
        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        .szurkehatter {
            background-color: rgba(255, 255, 255,0.4);
            border-radius: 60px;
            padding: 20px;
            margin: 20px;
        }