
body
{
 
color: white;
background-image: linear-gradient(#330000,#73605B);
height: 20000px;
 

}
.cimsor1
{
    text-align: center;
    margin: auto;

}
.container {
    padding: 80px 16px;
  }
  .cimsor1 {
    box-shadow: 0 5px 8px 0 rgba(141, 140, 140, 0.527);
    transition: 40s;
    width: 40%;
    background-color: aqua;
  }






