html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    
    
}

* {
    font-family: "Irish Grover", serif;
    font-weight: 400;
    font-style: normal;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 10px;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    font-size: 18px;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    background: white;
    width: 250px;
    text-align: center;
    margin-left: 30px;
}

.product-card img {
    width: 300px; /* Fix szélesség */
    height: 300px; /* Fix magasság */
    object-fit: contain; /* A kép kitölti a teret torzítás nélkül */
    border-radius: 5px;
}

.product-details {
    margin-left: 50px;
    flex-grow: 1;
    font-size: 20px;

}

.product-details h2 {
    font-size: 24px;
    font-weight: bold;

  }
@media (max-width: 600px) {
    .container {
        flex-direction: column; /* Átváltás oszlopos elrendezésre */
        align-items: center;
    }
    .product-details h2 {
        margin-left: 150px;
        text-align: right;
        margin-right: 10px;
      }

    .product-card {
        width: 39%;
    margin-left: 0;
    margin-top: 50px;

    }
    .product-details {
        font-size: 20px;
        text-align: left;
        padding-left: 10px;
        padding: 10px;
      }

    .product-details {
        margin-left: 0; /* Nincs baloldali margó */
        margin-top: 20px; /* Kis margó a termék kártya alatt */
    }

    .product-card img {
        width: 100%; /* A kép szélessége 100% legyen, hogy illeszkedjen a kártyához */
        height: auto; /* A magasság arányosan változik */
    }
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
    margin-top: auto;
}

.fejlec-ketoszlop2 ul {
    list-style-type: none;
    text-align: right;
    padding: 0px 10px 0px 0px;
    margin: 48px 0px 0px 0px;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.fejlec-ketoszlop2 li {
    margin: 0 10px; 
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.nav {
    display: flex;
}

.nav a {
    text-decoration: none;
    font-size: clamp(12px, 2vw, 18px); 
    transition: all 0.3s ease-in-out; 
}

.special-bor {
    white-space: nowrap; 
}

/* Vásárlás gomb stílus */
.buy-button {
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    padding: 7px 30px;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;

    display: inline-block;


    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    text-transform: uppercase;
}

/* Modális ablak stílus */
.modal {
    display: none; /* Rejtett alapértelmezetten */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); /* Félátlátszó háttér */
    background-color: rgba(0, 0, 0, 0.4); /* Sötét háttér */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #c7d8c8;
}

/* Kattintás állapot - visszapattanó effekt */
.buy-button:active {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Kisebb árnyék */
}

/* Szállítási modal stílus */
#shippingModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

#shippingModal .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

#shippingModal .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
}

#shippingModal .close:hover,
#shippingModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* fejlec törés */
.fejlec-ketoszlop2 li {
    margin: 0px 10px 0px 10px;
}

.fejlec-ketoszlop2 a {
    text-decoration: none;
    color: white !important;
    padding: 5px 10px; 
    display: inline-block; 
    transition: background-color 0.3s ease; 
}

.fejlec-ketoszlop2 a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Opcionális: hover effektus */
}

.fejlec-ketoszlop {
    display: flex;
    flex-wrap: nowrap;
}

.fejlec-ketoszlop1 {
    flex: calc(10%);
    padding-left: 10px;
    background-color: black !important;
}

.fejlec-ketoszlop2 {
    flex: calc(99%);
    background-color: black !important;
    font-size: clamp(14px, 2.5vw, 23px);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.hamburger div {
    width: 30px;
    height: 6px;
    background-color: white;
    margin: 4px;
    transition: 0.3s;
}

@media (max-width: 850px) {
    .hamburger {
        display: flex;
    }
}

@media (max-width: 850px) {
    .fejlec-ketoszlop {
        flex-direction: column;
    }

    .fejlec-ketoszlop1, .fejlec-ketoszlop2 {
        width: 100%;
    }

    .fejlec-ketoszlop2 ul {
        flex-direction: column;
        display: none; 
    }

    .fejlec-ketoszlop2 ul.active {
        display: flex; 
    }

    .hamburger {
        display: flex;
    }
}

@media(max-width:1055px){
    .fejlec-ketoszlop2 ul {
        justify-content: center;
    }
}

@media (max-width: 1200px) {
    .fejlec-ketoszlop2 {
        font-size: clamp(22px, 2vw, 22px);
    }

    .nav a {
        font-size: clamp(20px, 1.8vw, 18px);
    }
}

@media (max-width: 1000px) {
    .fejlec-ketoszlop2 {
        font-size: clamp(20px, 1.8vw, 20px);
    }

    .nav a {
        font-size: clamp(18px, 1.6vw, 16px);
    }
}

@media (max-width: 940px) {
    .fejlec-ketoszlop2 {
        font-size: clamp(18px, 1.8vw, 20px);
    }

    .nav a {
        font-size: clamp(15px, 1.6vw, 16px);
    }
}

@media (max-width: 875px) {
    .fejlec-ketoszlop2 {
        font-size: clamp(17px, 1.8vw, 20px);
    }

    .nav a {
        font-size: clamp(14px, 1.6vw, 16px);
    }
}

@media (max-width: 850px) {
    .fejlec-ketoszlop2 {
        font-size: 20px;
    }
}

/* footer törés */
footer {
    background-color: black;
    padding: 1px 0px 10px 0px;
}

footer h3 {
    color: white;
}

footer h4 {
    color: white;
}

footer h5 {
    color: white;
}

.footertelefoncopyrightflex {
    display: flex;
    flex-direction: row;
    margin: 20px 0px 20px 0px;
    align-items: center;
    justify-content: center;
}

.footertelefon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footermail {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    align-items: center;
}

.footercopyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footertelefon img {
    width: 45px;
    height: 35px;
}

.footertelefon h4 {
    margin: 0px 0px 0px 5px;
    font-size: 24px;
}

.footermail img {
    width: 45px;
    height: 45px;
}

.footermail h4 {
    margin: 0px 0px 0px 10px; /*top right bottom left*/
    font-size: 24px;
}

.footercopyright img {
    width: 45px;
    height: 20px;
    padding: 0px 0px 10px 0px;
}

.footercopyright h5 {
    font-size: 16px;
    margin: 0px 0px 0px 0px;
}

.footercim {
    margin-left: 40px;
    font-size: 30px;
}

.footercim h3 {
    margin-bottom: 0px;
}
@media (max-width: 940px) {
    .footertelefon h4, .footermail h4 {
        font-size: 21.5px;
    }
    .footercopyright h5 {
        font-size: 15px;
    }
    .footermail img {
        width: 35px;
        height: 35px;
    }
    .footercopyright img {
        width: 35px;
        height: 15px;
    }
}
@media (max-width: 850px) {
    .footertelefoncopyrightflex {
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
        margin: 0px 0px 0px 0px;
    }

    .footercopyright {
        justify-content: unset;
        margin-left: 200px;
        padding-top: 10px;
    }

    .footermail, .footertelefon {
        margin-left: 150px;
        padding-top: 10px;
    }

    .footertelefon h4, .footermail h4 {
        font-size: 20px;
    }
}
@media (max-width:760px) {
    .footercopyright {
        justify-content: unset;
        margin-left: 140px;
    }

    .footermail, .footertelefon {
        margin-left: 105px;
    }
}
@media (max-width:710px) {
    .footercopyright {
        margin-left: 90px;
    }

    .footermail, .footertelefon {
        margin-left: 45px;
    }
}
@media (max-width:600px) {
    .footercim {
        font-size: 24px;
        text-align: center;
        margin-left: 0px;
    }
    .footertelefoncopyrightflex {
        align-items: center;
        justify-content: center;
    }
    .footercopyright {
        margin-left: 0px;
        justify-content: center;
    }

    .footermail, .footertelefon {
        margin-left: 0px;
    }
    .footertelefon h4, .footermail h4 {
        font-size: 18px;
    }
}
/*@media (max-width:470px) {
    .footertelefon h4, .footermail h4 {
        font-size: 14.5px;
    }
    .footercopyright h5 {
        font-size: 11px;
    }
    .footercim h3 {
        font-size: 20px;
    }
}
@media (max-width:390px) {
    .footertelefon h4, .footermail h4 {
        font-size: 12px;
    }
    .footercopyright h5 {
        font-size: 10px;
    }
    .footercim h3 {
        font-size: 19px;
    }
}*/
