body {
    background-image: linear-gradient(rgb(51 0 0), rgb(115 96 91));
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    font-family: "Irish Grover", serif;
}
.section {
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    border-radius: 10px;
}
h2 {
    font-size: 4em;
    background-color: rgba(255, 255, 255,0.4);
}
.wine-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.wine-item {
    background-color: rgba(255, 255, 255,0.4);
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.wine-item:hover{
    transform: scale(1.05);  
    cursor: pointer;  
}
.wine-item img {
    width: 200px; 
    height: 300px; 
    object-fit: cover; 
}
.wine-name {
    margin-top: 10px;
    font-size: 1.2em;
}
.gradient-text {
    background-image: linear-gradient(to right, #ffffff 30%, rgb(223, 132, 67));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.hatter{
    background-color: rgba(255, 255, 255,0.4);
}
