
body {
    background-image: linear-gradient(rgb(51 0 0), rgb(115 96 91));
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    font-family: "Irish Grover", serif;
}
.section {
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    border-radius: 10px;
}
h2 {
    font-size: 4em;
    background-color: rgba(255, 255, 255,0.4);
}
.specbor-section {
    margin: 40px auto; /* Növeljük a margót */
    padding: 20px;
    width: 90%;
    max-width: 1200px; /* Maximális szélesség beállítása */
    border-radius: 10px;
}
.wine-container {
    display: flex;
    justify-content: center; /* Középre igazítás */
    flex-wrap: wrap;
    gap: 40px; /* Növeljük a rést az elemek között */
}
.wine-item {
    background-color: rgba(255, 255, 255,0.4);
    padding: 20px; /* Növeljük a belső térközt */
    border-radius: 30px;
    width: 280px; /* Kicsit növeljük a szélességet */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.wine-item:hover{
    transform: scale(1.05);  
    cursor: pointer;  
}
.wine-item img {
    width: 220px; 
    height: 330px; 
    object-fit: cover; 
}
.wine-name {
    margin-top: 10px;
    font-size: 1.2em;
}
.gradient-text {
    background-image: linear-gradient(to right, #ffffff 30%, rgb(223, 132, 67));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.hatter{
    background-color: rgba(255, 255, 255,0.2);
    border-radius: 60px;
}
@media (max-width: 980px) {
    .wine-container {
        justify-content: space-between;
        flex-wrap: wrap;
        justify-content: center;
    }
    .wine-item {
        width: 250px; 
        margin: 10px;
    }
    .wine-item:nth-child(3) {
        width: 250px; 
        justify-content: center;
        margin-left: 34%;
        
    }
}
@media (max-width: 657px) {
    .wine-container {
        justify-content: center; 
        flex-wrap: wrap;
    }
    .wine-item {
        width: 250px; 
        margin: 0 auto; 
    }
    .wine-item:nth-child(3) {
        width: 250px; 
        justify-content: center;
        margin-left: 23%;
    }
}
/* fejlec törés */
.fejlec-ketoszlop2 ul {
    list-style-type: none;
    text-align: right;
    padding: 0px 10px 0px 0px;
    margin: 48px 0px 0px 0px;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}
.fejlec-ketoszlop2 li {
    margin: 0 10px; 
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
  }
  
  .nav {
    display: flex;

  }
  
  .nav a {
    text-decoration: none;
    font-size: clamp(12px, 2vw, 18px); 
    transition: all 0.3s ease-in-out; 
  }
  
  
.special-bor {
    white-space: nowrap; 
}

.fejlec-ketoszlop2 li {

    
    margin: 0px 10px 0px 10px;
}

.fejlec-ketoszlop2 a {
    text-decoration: none;
    color: white !important;
    padding: 5px 10px; 
    display: inline-block; 
    transition: background-color 0.3s ease; 
}
.fejlec-ketoszlop2 a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Opcionális: hover effektus */
}
.fejlec-ketoszlop {
    display: flex;
    flex-wrap: nowrap;
}

.fejlec-ketoszlop1 {
    flex: calc(10%);
    padding-left: 10px;
    background-color: black !important;
}

.fejlec-ketoszlop2 {
    flex: calc(99%);
    background-color: black !important;
    font-size: clamp(14px, 2.5vw, 23px);
    
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.hamburger div {
    width: 30px;
    height: 6px;
    background-color: white;
    margin: 4px;
    transition: 0.3s;
}

@media (max-width: 850px) {

    .hamburger {
        display: flex;
    }
}


@media (max-width: 850px) {
    .fejlec-ketoszlop {
        flex-direction: column;
    }

    .fejlec-ketoszlop1, .fejlec-ketoszlop2 {
        width: 100%;
    }

    .fejlec-ketoszlop2 ul {
        flex-direction: column;
        display: none; 
    }

    .fejlec-ketoszlop2 ul.active {
        display: flex; 
    }

    .hamburger {
        display: flex;
    }
}

@media(max-width:1055px){
    .fejlec-ketoszlop2 ul{

        justify-content: center;
    }
    
}
.header-menu {
    font-size: 18px;
  }
  
  @media (max-width: 1200px) {
    .fejlec-ketoszlop2 {
        font-size: clamp(22px, 2vw, 22px);
    }
    .nav a {
        font-size: clamp(20px, 1.8vw, 18px);
    }
}


@media (max-width: 1000px) {
    .fejlec-ketoszlop2 {
        font-size: clamp(20px, 1.8vw, 20px);
    }
    .nav a {
        font-size: clamp(18px, 1.6vw, 16px);
    }
}
@media (max-width: 940px) {
    .fejlec-ketoszlop2 {
        font-size: clamp(18px, 1.8vw, 20px);
    }
    .nav a {
        font-size: clamp(15px, 1.6vw, 16px);
    }
}
@media (max-width:  875px) {
    .fejlec-ketoszlop2 {
        font-size: clamp(17px, 1.8vw, 20px);
    }
    .nav a {
        font-size: clamp(14px, 1.6vw, 16px);
    }
}
